/*Desktop*/
@media only screen and (min-width:1680px) and (max-width:1900px) {
}
@media only screen and (min-width:1600px) and (max-width:1679px) {
}
@media only screen and (min-width:1400px) and (max-width:1440px) {
}
@media only screen and (min-width:1366px) and (max-width:1399px) {
}
@media only screen and (min-width:1024px) and (max-width:1399px) {
}
@media only screen and (min-width:768px) and (max-width:1024px) {
	.navbar-default .navbar-brand {
		width: 80px;
	}
	header .navbar {
		height: 50px;
	}
	header .middle-menu {
		margin-top: 13px;
	}
	header .navbar-nav > li {
		padding: 5px 10px;
	}
	header .navbar-nav.social_icons {
		margin-top: 12px;
	}
	header .navbar-nav.social_icons li a {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	section {
		padding-top: 100px;
	}
	.about-sec {
		padding-top: 100px;
	}
	.location_map, .contact_details .frame_bottom {
		margin-bottom: 30px;
	}
}
@media only screen and (min-width:768px) and (max-width:990px) {
	.navbar-default .navbar-brand {
		width: 65px;
	}
	header .middle-menu {
		position: relative;
		float: left;
		margin-left: 10px;
	}
	header .navbar-nav > li {
		padding: 5px;
	}
	header .navbar-default .navbar-nav > li > a {
		font-size: 13px;
	}
	header .navbar-nav..social_icons {
		margin-top: 12px;
	}
	header .navbar-nav.social_icons li {
		padding: 0px 3px;
	}
	header .navbar-nav.social_icons li a {
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
	}
	header .navbar-nav.social_icons {
		margin-top: 17px;
	}
	.lightgallery li {
		float: left;
		width: 25%;
		position: relative;
	}
	.slick-prev {
		left: -3%;
	}
	.slick-next {
		right: -3%;
	}
}

/* mobile */
@media only screen and (max-width:767px) {

	/* header css */
	header .navbar-brand {
		display: block;
		width: 75px;
		padding: 0px
	}
	header .navbar {
		margin-bottom: 0px;
		height: auto;
	}
	header .navbar-toggle {
		margin-right: 0px;
	}
	header .navbar-default .navbar-toggle .icon-bar {
		background: #ffffff;
	}
	header .navbar-default .navbar-toggle {
		border: 0px;
		margin-top: 15px;
	}
	header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
		background: transparent
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: 0px;
		box-shadow: none;
	}
	header .navbar-nav {
		margin-top: 53px;
		margin-bottom: 10px;
		position: relative;
	}
	header .navbar-nav > li {
		display: block;
	}
	header .navbar-default .navbar-nav > li > a {
		font-size: 18px;
		padding: 5px 0px;
	}
	header .navbar-default .navbar-nav > li > a {
		border: 0 !important;
	}

	/* Reset responsive Bootstrap elements */
	.main_nav .navbar-header {
		float: none;
	}
	.main_nav .navbar-toggle {
		display: block;
		z-index: 9;
	}
	.main_nav .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	.main_nav .navbar-form {
		float: none !important;
		padding: 0;
	}
	.main_nav .navbar-nav>li {
		float: none;
	}

	/* Reposition elements affected by the sliding menu */
	.main_nav .navbar-collapse {
		position: fixed;
		top: 0;
		right: -80%;
		display: block;
		width: 80%;
		height: 100% !important;    /*max-height: 100%;*/
		margin: 0;
		background-color: #444444;
		transition: right 0.35s ease;
	}
	.main_nav .navbar-collapse.collapsing {
		transition: right 0.35s ease;
	}
	.main_nav .navbar-collapse.in {
		right: 0;
	}
	body.menu-slider.in {
		overflow: hidden;
	}
	header .navbar-nav.social_icons {
		margin: 53px 0px 0px 0px;
	}
	header .navbar-nav.social_icons  li {
		display: inline-block;
		font-size: 20px;
	}
	.social_icons li a {
		color: #6b5607;
		padding: 0 !important;
	}

	/*paresh starts*/
	.lightgallery li {
		float: left;
		width: 50%;
		position: relative;
	}
	.slick-prev {
		left: -3%;
	}
	.slick-next {
		right: -3%;
	}
	h2 {
		font-size: 30px;
	}
	h2::before {
		font-size: 22px;
	}
	h3 {
		font-size: 20px;
		line-height: 30px;
		margin: 20px 0 30px
	}
	p {
		font-size: 14px;
		line-height: 30px;
	}
	.btn-default {
		width: 100%;
	}
	.location_map, .contact_details .frame_bottom {
		margin-bottom: 30px;
	}
	.location_map {
		padding: 30px 0px 0px;
	}
	.contact_details .main_frame {
		padding-top: 30px;
	}
	.location_map p {
		margin: 15px 0;
		line-height: 24px;
	}
	section {
		padding-top: 100px;
	}
	.location_map h5, .contact_details h5 {
		font-size: 25px;
	}
	.contact_details a, .contact_details small {
		font-size: 18px;
	}

	/*paresh ends*/
	.about-sec {
		padding-top: 100px;
		padding-bottom: 20px;
	}
	.reservation-sec {
		padding-bottom: 50px
	}
	.menus_container {
		margin-top: 40px;
	}
	.menus_container .nav-tabs>li {
		margin-left: 0px;
		margin-right: 0px;
	}
	.menus_container .nav-tabs>li>a {
		font-size: 16px;
		padding: 4px 6px;
	}
	.menus_container .tab-content {
		padding-top: 20px;
	}
	.dinner-list li {
		margin-bottom: 25px;
	}
	.dinner-list li h4 {
		font-size: 16px;
		line-height: 25px;
	}
	.dinner-list li p {
		font-size: 15px;
	}
}
@media (max-width:420px) {

	/* MOBILE  PORTRAIT STYLES GO HERE */
}
@media only screen and (min-width:480px) and (max-width:767px) {
}